.storiesContainer {
  margin: 1rem;
}
.heading {
  text-align: center;
  margin-top: 2rem;
}
.Stories {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 500px) {
  .heading {
    font-size: 1.5rem;
  }
}
