.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 32%;
  height: 40%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
  z-index: 5;
}

.auth_heading {
  text-align: center;
}

.authForm,
.authForm__container {
  width: 100%;
}
.closeIcon {
  position: relative;
  left: 95%;
  top: -6rem;
}

.authForm__content {
  width: 100%;
}
.authForm__input {
  width: 70%;
  border: 1px solid black;
  outline: none;
  padding: 0.5rem;
  margin-bottom: 1rem;

  font-size: 1.2rem;
}
.input_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "DM Sans";
  font-weight: 700;
  justify-content: space-between;
  align-items: baseline;
}

.authForm__button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.authForm__button {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 3rem;
  background-color: #73abff;
  color: black;
  font-weight: bold;
  margin: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.authForm__button:hover {
  background-color: #4d8bff;
}

.error {
  position: relative;
  left: 27%;
  text-align: center;
  color: red;
  font-family: "DM Sans";
  font-weight: 700;
}
.input_container_image {
  position: absolute;
  cursor: pointer;
  left: 90%;
  top: 58%;
}
@media screen and (max-width: 500px) {
  .authContainer {
    width: 90%;
    padding: 1.5rem;
  }
  .closeIcon {
    position: relative;
    left: 90%;
    top: -2rem;
  }
  .auth_heading {
    font-size: 1.2rem;
  }
  .input_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    left: 12%;
  }
  .input_container_image {
    position: absolute;
    cursor: pointer;
    left: 65%;
    top: 50%;
  }
  .error {
    position: relative;
    left: 5%;
    text-align: center;
    color: red;
    font-family: "DM Sans";
    font-weight: 700;
  }
  .authForm__input {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}
